<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#bs-example-navbar-collapse-1"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Sarath PS</a>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="navbar-nav">
      <li
        class="nav-item active"
        data-toggle="collapse"
        data-target="#collapExperience"
        aria-expanded="true"
        aria-controls="collapExperience"
      >
        <a class="nav-link" href="#">Experience </a>
      </li>
      <li
        class="nav-item"
        data-toggle="collapse"
        data-target="#collapseEducation"
        aria-expanded="false"
        aria-controls="collapseEducation"
      >
        <a class="nav-link" href="#">Education</a>
      </li>

      <li
        class="nav-item"
        data-toggle="collapse"
        data-target="#collapseHobbies"
        aria-expanded="false"
        aria-controls="collapseHobbies"
      >
        <a class="nav-link" href="#">Hobbies</a>
      </li>
      <li
        class="nav-item"
        data-toggle="collapse"
        data-target="#collapseContact"
        aria-expanded="false"
        aria-controls="collapseContact"
      >
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div id="main-content" class="container-fluid">
  <div class="row">
    <div id="photo-div" class="col-md-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://sarathpslive.github.io/srt-resume-online/assets/img/Sarath01.JPG"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Sarath PS</h5>
          <div class="card-text">
            <li class="list-group">
              <ul class="list-group-item">
                <a href="">Linked In</a>
              </ul>
              <ul class="list-group-item">
                <a href="">GitHub</a>
              </ul>
              <ul class="list-group-item">
                <a href="">Instagram</a>
              </ul>
              <ul class="list-group-item">
                <a href="">Blog</a>
              </ul>
            </li>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="accordion" id="accordionResumeContent">
        <div class="card">
          <div
            class="card-header"
            data-toggle="collapse"
            data-target="#collapExperience"
            aria-expanded="true"
            aria-controls="collapExperience"
            id="headingOne"
          >
            <h5 class="mb-0">Experience</h5>
          </div>
          <div
            id="collapExperience"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordionResumeContent"
          >
            <div class="card-body">
              <div class="border">
                <h4>2019 - Current</h4>
                <h5>Product Engineer - 1</h5>
                <h6>Cognizant Technology Solutions</h6>
                Working for last 2 years on web applications with
                <strong>Angular 7 & 11</strong>, <strong>JavaScript</strong>,
                <strong>HTML</strong> and <strong>CSS</strong> along with
                <strong>Spring Boot Java</strong>
              </div>
              <div class="border">
                <h4>2012 - 2019</h4>
                <h5>Senior Software Developer</h5>
                <h6>
                  Rainybits Technologies Private Limited (Zympi Tech Private
                  Limited)
                </h6>

                <li class="list-group">
                  <ul class="list-group-item">
                    6 years, 5 months years of experience in GIS based web
                    applications with Angular 2+, JavaScript, C#, ASP.Net, .Net
                    MVC, ESRI, ArcGIS along with HTML5, XAML, jQuery and CSS3.
                    Projects & Working History:
                  </ul>
                  <ul class="list-group-item">
                    1. Angular 7 based web application for utility asset
                    management for an offshore company. This project uses
                    Node.js, Angular 7 with VS Code.
                  </ul>
                  <ul class="list-group-item">
                    2. Worked on GIS based utility for customers to access the
                    information, automation, and control of the business and
                    assets - Web applications using ESRI, ArCGIS Angular with
                    .Net MVC framework.
                  </ul>
                  <ul class="list-group-item">
                    3. Started as a fresher in this company 6 years ago to work
                    on a GIS based web application using PHP, Java (Sencha), C#,
                    Ajax and HTML also wrote few WCF REST Services with SQL
                    SERVER2008.
                  </ul>
                </li>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div
            class="card-header"
            id="headingTwo"
            data-toggle="collapse"
            data-target="#collapseEducation"
            aria-expanded="false"
            aria-controls="collapseEducation"
          >
            <h5 class="mb-0">Education</h5>
          </div>
          <div
            id="collapseEducation"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionResumeContent"
          >
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. 3 wolf moon officia aute, non
              cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
              on it squid single-origin coffee nulla assumenda shoreditch et.
              Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them
              accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div
            class="card-header"
            id="headingThree"
            data-toggle="collapse"
            data-target="#collapseHobbies"
            aria-expanded="false"
            aria-controls="collapseHobbies"
          >
            <h5 class="mb-0">Hobbies</h5>
          </div>
          <div
            id="collapseHobbies"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordionResumeContent"
          >
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. 3 wolf moon officia aute, non
              cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
              on it squid single-origin coffee nulla assumenda shoreditch et.
              Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them
              accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div
            class="card-header"
            id="headingFour"
            data-toggle="collapse"
            data-target="#collapseContact"
            aria-expanded="false"
            aria-controls="collapseContact"
          >
            <h5 class="mb-0">Contact</h5>
          </div>
          <div
            id="collapseContact"
            class="collapse"
            aria-labelledby="headingFour"
            data-parent="#accordionResumeContent"
          >
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. 3 wolf moon officia aute, non
              cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
              on it squid single-origin coffee nulla assumenda shoreditch et.
              Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them
              accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
